<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Viajes Disponibles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let viaje of viajes">
      {{ viaje }}
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label position="floating">Nuevo Viaje</ion-label>
    <ion-input [(ngModel)]="nuevoViaje"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="agregarViaje()">
    Agregar Viaje
  </ion-button>
  <ion-button expand="full" (click)="irlogin()">
    Volver al Inicio
  </ion-button>
</ion-content>
